/* 
style for content-scripts
not using tailwindcss base styles because it's interfering with the github page styles
*/

@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.SelectMenu-modal {
    font-size: 12px;
    color: var(--color-fg-default) !important;
    line-height: 1.5 !important;
}
